{% load static %}
<!DOCTYPE>
<html>
  <head>
    <title>Rom Free</title>

    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
       integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
       crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'rom/css/style.css' %}" />

    <!-- <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script> -->

     <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
       integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
       crossorigin="">
     </script>

     <!-- <script src="{% static 'rom/js/awesome-markers.js' %}"></script> -->
     <script type="text/javascript" src="{% static 'rom/js/L.Icon.Glyph.js' %}"></script>
  </head>

  <body>
    <nav>
      <div><a href={% url "rom:index" %}>Home</a></div>
      <div>About</div>
      <div>Contact</div>
    </nav>
    <header>
      <div class="logo">
        <img src="{% static 'rom/img/horizontal_logo.png' %}" alt="rom free logo" width="300"/>
      </div>
    </header>


    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
