{% extends 'rom/base.html' %}
{% load static %}
{% block content %}
<section class="detail-top">
  <div>
      <h2>{{ hotel.name }}</h2>
      <h3>{{ hotel.address.upper }} {{ hotel.city.upper }}</h3>
  </div>
  <div id="detailMap" class="custom-map"></div>
</section>

<section class="detail-tabs">
  <div>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">DESCRIPTION</a>
      <a class="nav-item nav-link" id="nav-photos-tab" data-toggle="tab" href="#nav-photos" role="tab" aria-controls="nav-photos" aria-selected="false">PHOTOS</a>
      <a class="nav-item nav-link" id="nav-service-tab" data-toggle="tab" href="#nav-service" role="tab" aria-controls="nav-service" aria-selected="false">TRANSIT SERVICE</a>
      <a class="nav-item nav-link" id="nav-walking-tab" data-toggle="tab" href="#nav-walking" role="tab" aria-controls="nav-walking" aria-selected="false">WALKING DESTINATIONS</a>
      <a class="nav-item nav-link" id="nav-transit-tab" data-toggle="tab" href="#nav-transit" role="tab" aria-controls="nav-transit" aria-selected="false">TRANSIT DESTINATIONS</a>
    </div>
  </div>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
      <p>{{ hotel.description}}</p>
    </div>

    <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
      {% for image in hotel.image_set.all %}
        <img src="http://photos.hotelbeds.com/giata/{{ image }}" alt="hotel stock image"/>
      {% endfor %}
    </div>

    <div class="tab-pane fade" id="nav-service" role="tabpanel" aria-labelledby="nav-service-tab">
      <section id="routes">
        {% if frequent_routes %}
          <div>
            <h4>Frequent Routes Serving Hotel:</h4>
            <ul>
              {% for route in frequent_routes %}
              <li>
                {% if route.vehicle_type == "bus" %}
                  <i class="fa fa-bus frequent"></i>
                  {% if route.operator.short_name %}
                    {{ route.operator.short_name }} Route {{ route.name }}
                  {% else %}
                    {{ route.operator.name }} Route {{ route.name }}
                  {% endif %}
                {% endif %}

                {% if route.vehicle_type == "metro" or route.vehicle_type == "tram" or route.vehicle_type == "rail" %}
                  <i class="fa fa-subway"></i>
                  {% if route.operator.short_name %}
                    {{ route.operator.short_name }} {{ route.name }}
                  {% else %}
                    {{ route.operator.name }} {{ route.name }}
                  {% endif %}
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if other_routes %}
          <div id="infrequent-routes">
            <h4>Infrequent Routes Serving Hotel:</h4>
            <ul>
              {% for route in other_routes %}
              <li>
                {% if route.vehicle_type == "bus" %}
                  <i class="fa fa-bus infrequent"></i>
                {% elif route.vehicle_type == "ferry" %}
                  <i class="fa fa-ship"></i>
                {% elif route.vehicle_type == "metro" or route.vehicle_type == "tram" or route.vehicle_type == "rail" %}
                  <i class="fa fa-subway"></i>
                {% endif %}
                {% if route.operator.short_name %}
                  {{ route.operator.short_name }} Route {{ route.name }}
                {% else %}
                  {{ route.operator.name }} Route {{ route.name }}
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </section>
    </div>

    <div class="tab-pane fade" id="nav-walking" role="tabpanel" aria-labelledby="nav-walking-tab">
      {% if walking_destinations %}
        <h4>Destinations within Walking Distance:</h4>
        <ul>
          {% for destination in walking_destinations %}
          <li>{{ destination.destination.name }}</li>
          <li>{{ destination.distance|floatformat:"2" }} miles</li>
          {% endfor %}
        </ul>
      {% endif %}

    </div>

    <div class="tab-pane fade" id="nav-transit" role="tabpanel" aria-labelledby="nav-transit-tab">
      {% if transit_destinations %}
        <h4>Transit Accessible Destinations:</h4>
        <ul>
          {% for destination in transit_destinations %}
          <li>{{ destination.destination.name }}</li>
          <li>
              {% for route in destination.routes.all %}
                {% if route.frequent %}
                  {% if route.vehicle_type == "metro" or route.vehicle_type == "tram" or route.vehicle_type == "rail" %}
                    <i class="fa fa-subway"></i>
                  {% elif route.vehicle_type == "bus" and route.frequent %}
                    <i class="fa fa-bus frequent"></i>
                  {% else %}
                    <i class="fa fa-bus infrequent"></i>
                  {% endif %}
                  <div id="needs-space">{{ route.name }}</div>
                {% endif %}
              {% endfor %}
              {% for route in destination.routes.all %}
                {% if not route.frequent %}
                  {% if route.vehicle_type == "metro" or route.vehicle_type == "tram" or route.vehicle_type == "rail" %}
                    <i class="fa fa-subway"></i>
                  {% elif route.vehicle_type == "bus" and route.frequent %}
                    <i class="fa fa-bus frequent"></i>
                  {% else %}
                    <i class="fa fa-bus infrequent"></i>
                  {% endif %}
                  <div id="needs-space">{{ route.name }}</div>
                {% endif %}
              {% endfor %}
          </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

  </div>
</section>




<script type="text/javascript">
  let hotelData = {{ hotel_geojson|safe|escape }};
  let routeData = {{ route_geojson|safe|escape }};
  let destinationData = {{ destination_geojson|safe|escape }};

  let map = L.map('detailMap', { minZoom: 11, maxZoom: 17 }).setView({{ map_center }}, 14);

  L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_nolabels/{z}/{x}/{y}{r}.png',
    {
      attribution: '&copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
    }).addTo(map);

  function rail_filter (feature) {
    if (feature.properties.vehicle_type === "subway" || feature.properties.vehicle_type === "metro" || feature.properties.vehicle_type === "tram")
        return true
  }

  function frequent_bus_filter (feature) {
    if (feature.properties.vehicle_type === "bus" && feature.properties.frequent)
        return true
  }

  function infrequent_bus_filter (feature) {
    if (feature.properties.vehicle_type === "bus" && !feature.properties.frequent)
        return true
  }

  let infrequent_bus = L.geoJson(routeData, {
    filter: infrequent_bus_filter,
    style: function(feature) {
        return {color: '#A9A9A9', weight: 1}
      },
  }).addTo(map);

  let frequent_bus = L.geoJson(routeData, {
    filter: frequent_bus_filter,
    style: function(feature) {
        return {color: '#00bfff', weight: 2}
      },
  }).addTo(map);

  let rail_lines = L.geoJson(routeData, {
    filter: rail_filter,
    style: function(feature) {
        return {color: '#003040', weight: 3}
      },
  }).addTo(map);


  let destinationLayer = L.geoJson(destinationData, {
    pointToLayer: function(feature, latlng) {
        return L.circleMarker(latlng, {
          color: '#A9A9A9',
          weight: 1,
          fillColor: '#808080',
          fillOpacity: 1,
          radius: 3
        })
    },
    onEachFeature: function (feature, layer) {
      layer.bindPopup("<h5>"+feature.properties.name+"</h5><br /><h6>"+feature.properties.routes+"</h6>")
    }
  }).addTo(map);

  console.log(destinationLayer);

  let hotelLayer = L.geoJSON(hotelData, {
    pointToLayer: function(feature, latlng) {
      return L.marker(latlng, {
          icon: L.icon.glyph({
          prefix: '',
          glyph: 'H'
        })
      })
    },
  }).addTo(map);

</script>
{% endblock %}
