{% extends 'rom/base.html' %}
{% load static %}
{% block content %}

  <h1>Find a hotel. Forgo the rental car.</h1>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="" method="post">
      {% csrf_token %}
      <div class="form-container">
        {% for field in form.visible_fields %}
          <div>
            <!-- {% if field.name == "check_in" or field.name == "check_out" %}
              {{ field.label_tag }}
            {% endif %} -->
            {{ field}}
          </div>
        {% endfor %}
        <input type="submit" value="Search"></input>
        </div>
    </form>

    <section class="transit-photo-container">
      <div class="transit-photo" id="cle"><h2>Cleveland</h2></div>
      <div class="transit-photo" id="sea"><h2>Seattle</h2></div>
      <div class="transit-photo" id="tor"><h2>Toronto</h2></div>
      <div class="transit-photo" id="was"><h2>Washington DC</h2></div>
    </section>

{% endblock %}
