h1, h2, h3, h4, nav, ul, p {
  font-family: 'Arimo', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
}

nav > div {
  font-size: 1rem;
  padding: 0 20px;
}

ul {
  list-style-type: none;
  font-size: 12px;
}

a {
  text-decoration: none;
}

#map {
  height: 400px;
}

.fa {
  color: #FFFFFF;
  padding: 3px;
  background-color: #00bfff;
  border-radius: 2px;
  margin: 2px;
}

.leaflet-marker-icon {
	font-weight: bold;
	font-family: sans-serif;
}
